body{
     /* background-color: lightblue; */
     font-family: sans-serif;
    
    
}

header{
    text-align: center;
    border: solid black;
    border-radius:10px;
    background-color: lightblue;
    opacity: 80%;
}
p{
    margin-left: 5px;
    margin-right: 5px;
}

#weather-form{
    margin: 2%;
}

.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius:10px;
}
#containerEl{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius:10px;
   

}



#containerEl div{
    margin:2%;
    border-radius:10px;
    border: solid black;
    background-color: lightblue;
    opacity: 80%;
    
}

.littleBox{
    display:flex;
    flex-direction: column;
    
    
}

.low{
    background-color: green;
    margin-right: 50%;

}

.moderate{
    background-color: yellow;
    margin-right: 50%;

}

.high{
    background-color: red;
    margin-right: 50%;
    
}