body {
  background-image: url(images/weather1.jpg);
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
  background-attachment: "fixed";
  font-family: 'Times New Roman', Times, serif
}

header {
  text-align: center;
  border: solid black;
  border-radius: 10px;
  background-color: lightblue;
  opacity: 30%;
}
p {
  margin-left: 5px;
  margin-right: 2px;
}

#weather-form {
  margin: 10%;
  
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
}
#containerEl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-top: 70px;
  justify-content: center;
}

#containerEl div {
  margin: 2%;
  border-radius: 10px;
  border: solid black;
  background-color: lightblue;
  opacity: 70%;
  text-align: center;
}

.littleBox {
  display: flex;
  flex-direction: column;
}

.low {
  background-color: green;
  margin-right: 50%;
}

.moderate {
  background-color: yellow;
  margin-right: 50%;
}

.high {
  background-color: red;
  /* margin-right: 50%; */
}
@media screen and (max-width: 1200px) {
    #containerEl{
        /* flex-direction:column; */
    }
    #containerEl div {
      /* margin: 2%;
      border-radius: 10px;
      border: solid black;
      background-color: lightblue;
      opacity: 70%; */
      width:30%;
      min-width: 300px;
    }
}